<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            class="edu.utexas.seal.plugins.overlay.view.CriticsOverlayNewView"
            icon="icons/cat.png"
            id="edu.utexas.seal.plugins.overlay.view.CriticsOverlayNewView"
            name="Matching Result"
            restorable="true">
         >
      </view>
      <view
            class="edu.utexas.seal.plugins.treegraph.view.CriticsContextSelectionView"
            icon="icons/cat.png"
            id="edu.utexas.seal.plugins.treegraph.view.CriticsContextSelectionView.OldRev"
            name="Diff Template View (Old Rev.)"
            restorable="true">
      </view>
      <view
            class="edu.utexas.seal.plugins.treegraph.view.CriticsContextSelectionView"
            icon="icons/cat.png"
            id="edu.utexas.seal.plugins.treegraph.view.CriticsContextSelectionView.NewRev"
            name="Diff Template View (New Rev.)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <!--
   ======================================================  
   		Critics menu
   ======================================================
   --> 
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="criticsMenu"
               label="Critics">
            <command
                  commandId="edu.utexas.seal.plugins.handler.CriticsSelectContext"
                  label="Select Context Nodes - Method Level"
                  style="push">
            </command>
            <command
                  commandId="edu.utexas.seal.plugins.handler.CriticsFindContext"
                  label="Find Context Group"
                  style="push">
            </command>
            <command
                  commandId="edu.utexas.seal.plugins.handler.CriticsSelectContextClassLevel"
                  label="Select Context Nodes - Class Level"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="Command+`"
            commandId="edu.utexas.seal.plugins.CriticsMatchTreeEditDistance"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window">
      </key>
      <key
            commandId="edu.utexas.seal.plugins.handler.CriticsSelectContext"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+1">
      </key>
      <key
            commandId="edu.utexas.seal.plugins.handler.CriticsFindContext"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+2">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.utexas.seal.plugin.preprocess.UTCriticsPreprocessor"></startup>
   </extension>
   <!--
   ===================================================
   		Critics select/find commands
   ===================================================
   -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="edu.utexas.seal.plugins.handler.CriticsSelectContext"
            id="edu.utexas.seal.plugins.handler.CriticsSelectContext"
            name="CriticsSelectContext">
      </command>
      <command
            defaultHandler="edu.utexas.seal.plugins.handler.CriticsFindContext"
            id="edu.utexas.seal.plugins.handler.CriticsFindContext"
            name="CriticsFindContext">
      </command>
      <command
            defaultHandler="edu.utexas.seal.plugins.handler.CriticsSelectCotextClass"
            id="edu.utexas.seal.plugins.handler.CriticsSelectContextClassLevel"
            name="CriticsSelectContextClassLevel">
      </command>
      <command
            defaultHandler="edu.utexas.seal.plugins.CriticsCompareHandler"
            id="org.eclipse.compare.commands.Critics"
            name="CriticsTextSelect">
      </command>
   <!--
   ===================================================
   		Critics compare/merge commands
   ===================================================
   -->
      <command
            defaultHandler="edu.utexas.seal.plugins.CriticsEnableHandler"
            id="org.eclipse.jdt.ui.commands.CriticsEnable"
            name="CriticsEnable">
      </command>
    <command
          defaultHandler="edu.utexas.seal.plugins.CriticsGeneralizeHandler"
          id="edu.utexas.seal.plugins.CriticsGeneralizeHandler"
          name="CriticsGeneralizeHandler">
    </command>
    <command
          defaultHandler="edu.utexas.seal.plugins.CriticsSelectiveGeneralizeHandler"
          id="edu.utexas.seal.plugins.CriticsSelectiveGeneralizeHandlerRecur"
          name="CriticsSelectiveGeneralizeHandler">
    </command>
    <command
          defaultHandler="edu.utexas.seal.plugins.CriticsSelectiveGeneralizeHandler"
          id="edu.utexas.seal.plugins.CriticsSelectiveGeneralizeHandlerBegin"
          name="CriticsSelectiveGeneralizeHandlerBegin">
    </command>
    <command
          defaultHandler="edu.utexas.seal.plugins.CriticsMatchTreeEditDistance"
          id="edu.utexas.seal.plugins.CriticsMatchTreeEditDistance"
          name="CriticsSelectiveGeneralizeHandlerBegin">
    </command>
   </extension>
</plugin>
